<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.doctor.mapper.master.DoctorSignWriteMapper">
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from doctor_sign
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.prostate.doctor.entity.DoctorSign">
    insert into doctor_sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="titleId != null">
        title_id,
      </if>
      <if test="idCardFront != null">
        id_card_front,
      </if>
      <if test="idCardContrary != null">
        id_card_contrary,
      </if>
      <if test="doctorCardFront != null">
        doctor_card_front,
      </if>
      <if test="doctorCardContrary != null">
        doctor_card_contrary,
      </if>
      <if test="workCard != null">
        work_card,
      </if>
      <if test="approveStatus != null">
        approve_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="deleteUser != null">
        delete_user,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null">
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null">
        #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="idCardContrary != null">
        #{idCardContrary,jdbcType=VARCHAR},
      </if>
      <if test="doctorCardFront != null">
        #{doctorCardFront,jdbcType=VARCHAR},
      </if>
      <if test="doctorCardContrary != null">
        #{doctorCardContrary,jdbcType=VARCHAR},
      </if>
      <if test="workCard != null">
        #{workCard,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null">
        #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null">
        #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="com.prostate.doctor.entity.DoctorSign">
    update doctor_sign
    <set>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null">
        branch_id = #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null">
        title_id = #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null">
        id_card_front = #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="idCardContrary != null">
        id_card_contrary = #{idCardContrary,jdbcType=VARCHAR},
      </if>
      <if test="doctorCardFront != null">
        doctor_card_front = #{doctorCardFront,jdbcType=VARCHAR},
      </if>
      <if test="doctorCardContrary != null">
        doctor_card_contrary = #{doctorCardContrary,jdbcType=VARCHAR},
      </if>
      <if test="workCard != null">
        work_card = #{workCard,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null">
        approve_status = #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null">
        delete_user = #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>