<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.doctor.mapper.DoctorDetailMapper">
  <resultMap id="BaseResultMap" type="com.prostate.doctor.entity.DoctorDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="doctor_id" jdbcType="VARCHAR" property="doctorId" />
    <result column="doctor_photo_path" jdbcType="VARCHAR" property="doctorPhotoPath" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="doctor_sex" jdbcType="CHAR" property="doctorSex" />
    <result column="hospital_dept_id" jdbcType="VARCHAR" property="hospitalDeptId" />
    <result column="doctor_type" jdbcType="VARCHAR" property="doctorType" />
    <result column="doctor_idcard" jdbcType="VARCHAR" property="doctorIdcard" />
    <result column="doctor_introduce_oneself" jdbcType="VARCHAR" property="doctorIntroduceOneself" />
    <result column="doctor_honour" jdbcType="VARCHAR" property="doctorHonour" />
    <result column="doctor_practicing_experience" jdbcType="VARCHAR" property="doctorPracticingExperience" />
    <result column="doctor_education" jdbcType="VARCHAR" property="doctorEducation" />
    <result column="doctor_diploma" jdbcType="VARCHAR" property="doctorDiploma" />
    <result column="doctor_specialty" jdbcType="VARCHAR" property="doctorSpecialty" />
    <result column="doctor_school" jdbcType="VARCHAR" property="doctorSchool" />
    <result column="doctor_consultation_fee" jdbcType="VARCHAR" property="doctorConsultationFee" />
    <result column="doctor_title_id" jdbcType="VARCHAR" property="doctorTitleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ios_device_token" jdbcType="VARCHAR" property="iosDeviceToken" />
  </resultMap>
  <sql id="Base_Column_List">
    id, doctor_id, doctor_photo_path, doctor_name, doctor_sex, hospital_dept_id, doctor_type, 
    doctor_idcard, doctor_introduce_oneself, doctor_honour, doctor_practicing_experience, 
    doctor_education, doctor_diploma, doctor_specialty, doctor_school, doctor_consultation_fee, 
    doctor_title_id, create_time, update_time, ios_device_token
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from pra_doctor_detail
  where id = #{id,jdbcType=VARCHAR}
</select>
<!--通过医生的id查询医生的详情信息-->
  <select id="selectByDoctorId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pra_doctor_detail
    where doctor_id = #{doctorId,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pra_doctor_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <!--医生详情表插入一条数据-->
  <insert id="insertSelective" parameterType="com.prostate.doctor.entity.DoctorDetail">
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') as id from dual
    </selectKey>
    insert into pra_doctor_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="doctorPhotoPath != null">
        doctor_photo_path,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="doctorSex != null">
        doctor_sex,
      </if>
      <if test="hospitalDeptId != null">
        hospital_dept_id,
      </if>
      <if test="doctorType != null">
        doctor_type,
      </if>
      <if test="doctorIdcard != null">
        doctor_idcard,
      </if>
      <if test="doctorIntroduceOneself != null">
        doctor_introduce_oneself,
      </if>
      <if test="doctorHonour != null">
        doctor_honour,
      </if>
      <if test="doctorPracticingExperience != null">
        doctor_practicing_experience,
      </if>
      <if test="doctorEducation != null">
        doctor_education,
      </if>
      <if test="doctorDiploma != null">
        doctor_diploma,
      </if>
      <if test="doctorSpecialty != null">
        doctor_specialty,
      </if>
      <if test="doctorSchool != null">
        doctor_school,
      </if>
      <if test="doctorConsultationFee != null">
        doctor_consultation_fee,
      </if>
      <if test="doctorTitleId != null">
        doctor_title_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="iosDeviceToken != null">
        ios_device_token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="doctorPhotoPath != null">
        #{doctorPhotoPath,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="doctorSex != null">
        #{doctorSex,jdbcType=CHAR},
      </if>
      <if test="hospitalDeptId != null">
        #{hospitalDeptId,jdbcType=VARCHAR},
      </if>
      <if test="doctorType != null">
        #{doctorType,jdbcType=VARCHAR},
      </if>
      <if test="doctorIdcard != null">
        #{doctorIdcard,jdbcType=VARCHAR},
      </if>
      <if test="doctorIntroduceOneself != null">
        #{doctorIntroduceOneself,jdbcType=VARCHAR},
      </if>
      <if test="doctorHonour != null">
        #{doctorHonour,jdbcType=VARCHAR},
      </if>
      <if test="doctorPracticingExperience != null">
        #{doctorPracticingExperience,jdbcType=VARCHAR},
      </if>
      <if test="doctorEducation != null">
        #{doctorEducation,jdbcType=VARCHAR},
      </if>
      <if test="doctorDiploma != null">
        #{doctorDiploma,jdbcType=VARCHAR},
      </if>
      <if test="doctorSpecialty != null">
        #{doctorSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="doctorSchool != null">
        #{doctorSchool,jdbcType=VARCHAR},
      </if>
      <if test="doctorConsultationFee != null">
        #{doctorConsultationFee,jdbcType=VARCHAR},
      </if>
      <if test="doctorTitleId != null">
        #{doctorTitleId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="iosDeviceToken != null">
        #{iosDeviceToken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--医生详情表更新一条数据-->
  <update id="updateByPrimaryKeySelective" parameterType="com.prostate.doctor.entity.DoctorDetail">
    update pra_doctor_detail
    <set>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="doctorPhotoPath != null">
        doctor_photo_path = #{doctorPhotoPath,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="doctorSex != null">
        doctor_sex = #{doctorSex,jdbcType=CHAR},
      </if>
      <if test="hospitalDeptId != null">
        hospital_dept_id = #{hospitalDeptId,jdbcType=VARCHAR},
      </if>
      <if test="doctorType != null">
        doctor_type = #{doctorType,jdbcType=VARCHAR},
      </if>
      <if test="doctorIdcard != null">
        doctor_idcard = #{doctorIdcard,jdbcType=VARCHAR},
      </if>
      <if test="doctorIntroduceOneself != null">
        doctor_introduce_oneself = #{doctorIntroduceOneself,jdbcType=VARCHAR},
      </if>
      <if test="doctorHonour != null">
        doctor_honour = #{doctorHonour,jdbcType=VARCHAR},
      </if>
      <if test="doctorPracticingExperience != null">
        doctor_practicing_experience = #{doctorPracticingExperience,jdbcType=VARCHAR},
      </if>
      <if test="doctorEducation != null">
        doctor_education = #{doctorEducation,jdbcType=VARCHAR},
      </if>
      <if test="doctorDiploma != null">
        doctor_diploma = #{doctorDiploma,jdbcType=VARCHAR},
      </if>
      <if test="doctorSpecialty != null">
        doctor_specialty = #{doctorSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="doctorSchool != null">
        doctor_school = #{doctorSchool,jdbcType=VARCHAR},
      </if>
      <if test="doctorConsultationFee != null">
        doctor_consultation_fee = #{doctorConsultationFee,jdbcType=VARCHAR},
      </if>
      <if test="doctorTitleId != null">
        doctor_title_id = #{doctorTitleId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="iosDeviceToken != null">
        ios_device_token = #{iosDeviceToken,jdbcType=VARCHAR},
      </if>
    </set>
    where doctor_id = #{doctorId,jdbcType=VARCHAR}
  </update>

</mapper>